.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

Thumbs.db
ehthumbs.db
Desktop.ini

.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems

_scripts/checks/docs_exists.json
_scripts/checks/docs_missing.json

README.md

tmp